#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif ; 
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  background-color: #000000;
  overflow: hidden;
}

html, body, #root {
  height: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  width: 100%;
  overflow: hidden;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 0;
  margin: 0 0 1rem 0;
}

.active {
  background-color: #666;
}

.hidden {
  display: none;
}

.display-flex {
  display: flex
}

.display-block {
  display: block
}

.container {
  height: 90%;
  padding: 0.5rem 0.5rem;
  overflow-y: auto;
}

a:hover {
  cursor: pointer;
}

button {
  text-align: center;
}

.icon-size {
  font-size: 20px;
  line-height: 1.15 !important;
  height: fit-content;
}

@media screen and (min-width: 768px) {
  .container {
    padding: 1rem 2rem;
    font-size: medium !important;
  }
  .icon-size {
    font-size: 30px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    padding: 2rem 2rem;
    font-size: large !important;
  }
  h1 {
    margin-bottom: 2rem;
  }
}


@media screen and (min-width: 1200px) {
  .container {
    padding: 2rem 3rem;
    font-size: larger !important;
  }
  .icon-size {
    font-size: 35px;
  }
}